Repository cuderbot/personal-webpage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{js,vue}": "eslint",
  "*.vue": "stylelint"
}

Delete dependabot.yml
  .github/dependabot.yml
Due: none

feat: adding login layout and page
  src/layouts/login.vue
  src/pages/login.vue
Due: eslint, stylelint

feat(login): adding back button function
  src/pages/login.vue
Due: eslint, stylelint

feat(contacto): updating view
  src/pages/contacto.vue
Due: eslint, stylelint

fix: removing ci github-action
  .github/semantic.yml
  .github/workflows/ci.yml
Due: none

feat(blog): post card
  src/components/blog/PostCard.vue
  src/pages/blog.vue
Due: eslint, stylelint

feat(blog): adding blog post view
  src/assets/images/first-post.png
  src/components/blog/PostCard.vue
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

refactor: updating project
  nuxt.config.js
  src/components/Card.vue
  src/components/Logo.vue
  src/components/blog/PostCard.vue
  src/components/layout/GithubIcon.vue
  src/components/layout/Navbar.vue
  src/layouts/default.vue
  src/layouts/login.vue
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
  src/pages/contacto.vue
  src/pages/inspire.vue
  src/pages/login.vue
  src/pages/proyectos.vue
Due: eslint, stylelint

chore: updating nuxt.config
  nuxt.config.js
Due: eslint

feat: adding base layout component and some conf
  nuxt.config.js
  src/components/layout/Header.vue
Due: eslint, stylelint

feat: base routes
  src/layouts/default.vue
  src/pages/blog.vue
  src/pages/index.vue
  src/pages/post/_slug.vue
  src/pages/projects.vue
Due: eslint, stylelint

refactor: adding blog and post
  src/components/blog/PostCard.vue
  src/pages/blog.vue
  src/pages/post/_slug.vue
Due: eslint, stylelint

feat: updating blog page
  src/pages/blog.vue
Due: eslint, stylelint

feat: updating into article
  src/pages/post/_slug.vue
Due: eslint, stylelint

fix: semantic html
  src/pages/post/_slug.vue
Due: eslint, stylelint

feat: adding sass :package:
  package.json
  yarn.lock
Due: none

refactor: moving out of bulma css
  nuxt.config.js
  package.json
  src/components/blog/PostCard.vue
  src/components/layout/Header.vue
  src/layouts/default.vue
  src/pages/blog.vue
  src/pages/index.vue
  src/pages/post/_slug.vue
  src/pages/projects.vue
  yarn.lock
Due: eslint, stylelint

feat: adding tailwind css
  nuxt.config.js
  package.json
  src/assets/buefy.png
  src/assets/img/first-post.png
  tailwind.config.js
  yarn.lock
Due: eslint

chore: removing libs
  package.json
  yarn.lock
Due: none

chore: removing typescript support
  .eslintrc.js
  nuxt.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint

docs: updating README :books:
  README.md
  docs/logos/nuxt-logo.svg
  docs/logos/tailwindcss-logo.svg
Due: none

refactor: adding bulma instead of tailwind
  nuxt.config.js
  package.json
  src/components/layout/footer.vue
  src/components/layout/header.vue
  src/layouts/default.vue
  src/plugins/buefy.js
  tailwind.config.js
  yarn.lock
Due: eslint, stylelint

docs: updating README
  README.md
  docs/logos/bulma-logo.png
  docs/logos/bulma-logo.png:Zone.Identifier
  src/pages/index.vue
Due: eslint, stylelint

feat: adding contacto and home base layout
  src/assets/img/logo.svg
  src/components/layout/footer.vue
  src/components/layout/header.vue
  src/pages/contacto.vue
  src/pages/index.vue
Due: eslint, stylelint

feat: adding blog and post pages
  nuxt.config.js
  package.json
  src/content/articles/my-first-blog-post.md
  src/content/articles/test.md
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
  yarn.lock
Due: eslint, stylelint

feat: updating blog
  src/content/articles/my-first-blog-post.md
  src/content/articles/test.md
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

feat: adding post-card component
  src/components/blog/post-card.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

feat: updating post-card component
  src/components/blog/category-tag.vue
  src/components/blog/post-card.vue
  src/content/articles/another-post.md
  src/content/articles/my-first-blog-post.md
  src/content/articles/test.md
  src/pages/blog/index.vue
Due: eslint, stylelint

feat: updating post-card
  src/components/blog/category-tag.vue
  src/components/blog/post-card.vue
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

refactor: updating theme
  nuxt.config.js
  package.json
  src/assets/css/tailwind.css
  src/components/blog/author.vue
  src/components/blog/next-prev-link.vue
  src/components/blog/subscriber.vue
  src/components/blog/tags.vue
  src/components/layout/footer.vue
  src/components/layout/header.vue
  src/components/layout/header/index.vue
  src/components/layout/header/logo.vue
  src/components/layout/header/nav-item.vue
  src/content/articles/another-post.md
  src/content/articles/my-first-blog-post.md
  src/content/articles/test.md
  src/content/articles/welcome-to-minimal-blog.md
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
  src/plugins/buefy.js
  stylelint.config.js
  yarn.lock
Due: eslint, stylelint

feat: updating blog
  src/components/blog/post-card.vue
  src/components/layout/header/index.vue
  src/pages/blog/_slug.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

fix: changing type on content post-card component
  src/components/blog/post-card.vue
  src/pages/blog/index.vue
Due: eslint, stylelint

chore: moving tailwind config into separate file
  nuxt.config.js
  tailwind.config.js
Due: eslint

feat: adding custom style into base layer
  src/assets/css/tailwind.css
Due: none

feat: updating footer
  src/components/layout/footer.vue
  src/components/layout/footer/about-me.vue
  src/components/layout/footer/index.vue
  src/components/layout/footer/socials.vue
Due: eslint, stylelint

feat(blog): removing suscriber banner
  src/components/blog/subscriber.vue
  src/pages/blog/_slug.vue
Due: eslint, stylelint

feat(navbar): adding visual detection for current page
  src/components/layout/header/index.vue
  src/components/layout/header/nav-bar.vue
  src/components/layout/header/nav-item.vue
  stylelint.config.js
Due: eslint, stylelint

fix(navbar): removing a collision css rule
  src/components/layout/header/nav-bar.vue
Due: eslint, stylelint
